<div class="landing__container">
    <h1 class="landing__title">Make Cold Calls Easy</h1>
    <h2 class="landing__subtitle">Proven tactics and script outlines to make your cold calls effecive.</h2>
    <p class="landing__content">We can all agree cold calling is the worst!  It is especially awful when you don't have a plan.</p>
    <p class="landing__content">Thousands of hours of research have been done and hundreds of books written about how to make effecive sales calls.  The free methods used in this program are designed to maximize your efforts.</p>
</div>