/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

 :root {
     --tan: #DEC18A;
     --slate: #444340;
     --font-xxl:3.5rem;
     --font-xl:2.5rem;
     --font-lg:2.0rem;
     --font-med:1.5rem;
     --font-norm:1rem;
     --font-sm:.85rem;
 }
 /*  use "font-size: var(--font-lg);" */ 
 *{
     padding: 0 ;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
     color:#242424;
     list-style-type: none;
     text-decoration: none;
     transition: all 300ms ease;
     
 }
 html{
     scroll-behavior: smooth;
 }
 body{
     max-width: 100vw;
     overflow-x: hidden;
     background-color: #fdf;
 }
 section{
     position: relative;
     width: 100%;
     max-width: 100vw;
     scroll-snap-align: center;
     min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }